@model MainDataViewModel
@{

}
@{
    ViewBag.Title = "Departamentlər";
    Layout = "_Layout";
}


<!--search -->
<div class="container pt-5">
    <form method="post" enctype="multipart/form-data" id="editForm" class="">
        <div class="card card-success">
            <div class="card-header myCardHeader">
                <b>Departament adında dəyişiklik</b>
            </div>
            <div class="card-body">
                <input hidden value="@Model.Department.Id" asp-for="Department.Id" />
                <div class="row pt-2">
                    <div class="form-group-sm col-md-12 row">
                        <label class="col-md-5">Departamentin adı</label>
                        <input class="form-control form-control-sm col-md-7" asp-for="Department.Name" value="@Model.Department.Name" />
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="submit" asp-action="EditDepartment" asp-controller="Home" class="btn btn-success float-end mt-4">Yadda saxla</button>
            <a class="btn btn-primary float-end mt-4 mr-3" href="/Home/Departments" type="submit">Imtina</a>

        </div>
    </form>

</div>
<script>
</script>